[worldserver]

########################################
# mod-player-bot-reset configuration
########################################
#
#    ResetBotLevel.MaxLevel
#        Description: The maximum level a bot can reach before being reset to level 1.
#        Default:     80 
#                     Valid range: 2-80

ResetBotLevel.MaxLevel   = 80

#    ResetBotLevel.ResetChance
#        Description: The percent chance a bot has to have their level reset back to 1 when reaching the max specified level.
#        Default:     100 
#                     Valid range: 0-100

ResetBotLevel.ResetChance = 100

#    ResetBotLevel.ScaledChance
#        Description: If enabled (1), the reset chance will happen every level and scale based on the
#                     distance between the bot's level and the set MaxLevel.
#                     Bots will have a small chance of resetting at lower levels, increasing
#                     as they approach the max level. At the max level, the reset chance reaches
#                     the configured ResetBotLevel.ResetChance value.
#        Default:     0 (disabled)
#                     Valid values: 0 (off) / 1 (on)

ResetBotLevel.ScaledChance = 0

#    ResetBotLevel.DebugMode
#        Description: Enables debug logging for the Reset Bot Level module.
#                     When enabled, additional log information is displayed to help with debugging.
#        Default:     0 (disabled)
#                     Valid values: 0 (off) / 1 (on)

ResetBotLevel.DebugMode = 0
